<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php" forceCoversAnnotation="true" beStrictAboutCoversAnnotation="true" beStrictAboutOutputDuringTests="true" beStrictAboutTodoAnnotatedTests="true" colors="true" verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="LinkedListTest">
      <file>tests/LinkedListTest.php</file>
    </testsuite>
    <testsuite name="DoublyLinkedListTest">
      <file>tests/DoublyLinkedListTest.php</file>
    </testsuite>
    <testsuite name="CircularLinkedListTest">
      <file>tests/CircularLinkedListTest.php</file>
    </testsuite>
    <testsuite name="Times33HashTableTest">
      <file>tests/Times33HashTableTest.php</file>
    </testsuite>
    <testsuite name="QueueTest">
      <file>tests/QueueTest.php</file>
    </testsuite>
    <testsuite name="StackTest">
      <file>tests/StackTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
